<launch>
  <arg name="TASK" default="FLAT" />
  <arg name="USE_ROBOTHARDWARE" default="false" />
  <arg name="ENVIRONMENT_YAML" default="$(find hrpsys_choreonoid_tutorials)/config/flat.yaml" />
  <arg name="LOAD_OBJECTS" default="false" />

  <arg name="KILL_SERVERS" default="false" />
  <arg name="NOSIM" default="false" />
  <arg name="REALTIME" default="true" />
  <arg name="RUN_RVIZ" default="true" />
  <arg name="GUI" default="true" />
  <arg name="hrpsys_precreate_rtc" default=""/>

  <include file="$(find hrpsys_choreonoid_tutorials)/launch/jaxon_red_choreonoid.launch" >
    <arg name="TASK"              value="$(arg TASK)" />
    <arg name="USE_ROBOTHARDWARE" value="$(arg USE_ROBOTHARDWARE)" />
    <arg name="ENVIRONMENT_YAML"  value="$(arg ENVIRONMENT_YAML)" />
    <arg name="LOAD_OBJECTS"      value="$(arg LOAD_OBJECTS)" />
    <arg name="KILL_SERVERS"      value="$(arg KILL_SERVERS)" />
    <arg name="NOSIM"             value="$(arg NOSIM)" />
    <arg name="REALTIME"          value="$(arg REALTIME)" />
    <arg name="RUN_RVIZ"          value="$(arg RUN_RVIZ)" />
    <arg name="GUI"               value="$(arg GUI)" />
    <arg name="hrpsys_precreate_rtc" value="$(arg hrpsys_precreate_rtc)"/>
    <!--arg name="PROJECT_FILE"      value="$(arg PROJECT_FILE)" />
    <arg name="SIMULATOR_NAME"    value="$(arg SIMULATOR_NAME)" /-->
  </include>

</launch>
