<launch>
  <arg name="TASK" default="FLAT" />
  <arg name="USE_ROBOTHARDWARE" default="true" />
  <arg name="ENVIRONMENT_YAML" default="$(find hrpsys_choreonoid_tutorials)/config/flat.yaml" />
  <arg name="LOAD_OBJECTS" default="false" />

  <arg name="KILL_SERVERS" default="false" />
  <arg name="NOSIM" default="false" />
  <arg name="REALTIME" default="true" />
  <arg name="RUN_RVIZ" default="true" />
  <!-- <arg name="USE_VISION" default="true" /> -->
  <arg name="USE_VISION" default="false" />
  <arg name="GUI" default="true" />
  <arg name="hrpsys_precreate_rtc" default=""/>
  <arg name="hrpsys_opt_rtc_config_args" default="" />
  <arg name="LAUNCH_FOOTCOORDS" default="true" />

  <!-- robot dependant settings -->
  <arg if="$(arg USE_ROBOTHARDWARE)"
       name="taskname" value="RH_$(arg TASK)" />
  <arg unless="$(arg USE_ROBOTHARDWARE)"
       name="taskname" value="$(arg TASK)" />
  <arg if="$(arg LOAD_OBJECTS)"
       name="taskname_last" value="LOAD_OBJ" />
  <arg unless="$(arg LOAD_OBJECTS)"
       name="taskname_last" value="$(arg taskname)" />
  <env if="$(arg LOAD_OBJECTS)"
       name="EXTRA_CHOREONOID_OBJS" value="$(arg ENVIRONMENT_YAML)" />

  <arg name="PROJECT_FILE" default="$(find hrpsys_choreonoid_tutorials)/config/TABLIS_BASE_$(arg taskname_last).cnoid" />
  <arg name="SIMULATOR_NAME" default="TABLIS(Robot)0" />
  <arg if="$(arg USE_ROBOTHARDWARE)"
       name="BRIDGE_SIMULATOR_NAME" default="RobotHardware_choreonoid0" />
  <arg unless="$(arg USE_ROBOTHARDWARE)"
       name="BRIDGE_SIMULATOR_NAME" default="$(arg SIMULATOR_NAME)" />
  <arg name="MODEL_FILE"     value="$(find jsk_models)/TABLIS/TABLISmain_base.wrl"/>
  <arg name="COLLADA_FILE"   value="$(find hrpsys_ros_bridge_tutorials)/models/TABLIS_SENSORS.urdf"/>
  <arg name="CONF_FILE"      value="$(find hrpsys_ros_bridge_tutorials)/models/TABLIS.conf"/>
  <arg name="HRPSYS_PY_PKG"  default="hrpsys_choreonoid_tutorials"/>
  <arg if="$(arg USE_ROBOTHARDWARE)"
       name="HRPSYS_PY_NAME" default="tablis_base_rh_setup.py" />
  <arg unless="$(arg USE_ROBOTHARDWARE)"
       name="HRPSYS_PY_NAME" default="tablis_base_setup.py" />
  <arg name="CONTROLLER_CONFIG"
       value="$(find hrpsys_ros_bridge_tutorials)/models/TABLIS_controller_config.yaml" />
  <arg name="CONNECT_CONSTRAINT_FORCE_LOGGER_PORTS" default="false"/>

  <!-- unstable RTC -->
  <arg name="USE_WALKING"               default="true" />
  <arg name="USE_IMPEDANCECONTROLLER"   default="true" />
  <arg name="USE_EMERGENCYSTOPPER"    default="true"  />
  <arg name="USE_REFERENCEFORCEUPDATER" default="false" />
  <arg name="USE_OBJECTCONTACTTURNAROUNDDETECTOR" default="false" />

  <!-- hrpsys -->
  <include file="$(find hrpsys_choreonoid)/launch/startup_choreonoid.launch" >
    <!-- robot dependant settings -->
    <arg name="SIMULATOR_NAME" value="$(arg SIMULATOR_NAME)" />
    <arg name="PROJECT_FILE"   value="$(arg PROJECT_FILE)" />
    <arg name="MODEL_FILE"     value="$(arg MODEL_FILE)" />
    <arg name="CONF_FILE"      value="$(arg CONF_FILE)"/>
    <arg name="HRPSYS_PY_PKG"  value="$(arg HRPSYS_PY_PKG)"/>
    <arg name="HRPSYS_PY_NAME" value="$(arg HRPSYS_PY_NAME)"/>
    <!-- -->
    <arg name="KILL_SERVERS" value="$(arg KILL_SERVERS)" />
    <arg name="NOSIM" value="$(arg NOSIM)" />
    <arg name="REALTIME" value="$(arg REALTIME)" />
    <arg name="GUI" value="$(arg GUI)" />
    <arg name="hrpsys_precreate_rtc" value="$(arg hrpsys_precreate_rtc)" />
    <arg name="hrpsys_opt_rtc_config_args" value="$(arg hrpsys_opt_rtc_config_args)" />
    <arg name="CONNECT_CONSTRAINT_FORCE_LOGGER_PORTS" default="$(arg CONNECT_CONSTRAINT_FORCE_LOGGER_PORTS)"/>
  </include>
  <!-- ros_bridge -->
  <rosparam command="load" file="$(arg CONTROLLER_CONFIG)" />
  <include file="$(find hrpsys_choreonoid)/launch/ros_bridge_choreonoid.launch" >
    <!-- robot dependant settings -->
    <!-- <arg name="IS_MASTER_SIDE_OF_MASTERSLAVE" value="true" /> -->
    <arg name="SIMULATOR_NAME" value="$(arg BRIDGE_SIMULATOR_NAME)" />
    <arg name="MODEL_FILE"     value="$(arg MODEL_FILE)" />
    <arg name="COLLADA_FILE"   value="$(arg COLLADA_FILE)"/>
    <arg name="CONF_FILE"      value="$(arg CONF_FILE)" />
    <!-- unstable RTC -->
    <arg name="USE_IMPEDANCECONTROLLER"   value="$(arg USE_IMPEDANCECONTROLLER)" />
    <arg name="USE_WALKING"               value="$(arg USE_WALKING)" />
    <arg name="USE_EMERGENCYSTOPPER"      value="$(arg USE_EMERGENCYSTOPPER)" />
    <arg name="USE_REFERENCEFORCEUPDATER" value="$(arg USE_REFERENCEFORCEUPDATER)" />
    <arg name="USE_OBJECTCONTACTTURNAROUNDDETECTOR" value="$(arg USE_OBJECTCONTACTTURNAROUNDDETECTOR)" />
  </include>

</launch>
