<launch>
  <arg name="PROJECT_FILE" default=""/>
  <arg name="RTC_ARGS"     default="
-o corba.nameservers:127.0.0.1
-o naming.formats:%n.rtc
-o logger.enable:YES
-o logger.log_level:NORMAL
-o logger.file_name:stdout
-o manager.shutdown_onrtcs:NO
-o manager.is_master:YES
-o manager.modules.load_path:$(find hrpsys)/lib"
       />
  <arg name="RESPAWN_SIMULATOR" default="false"/>
  <arg name="START_SIMULATOR"   default="true" />
  <arg name="ENABLE_CONSTRAINT" default="false" />
  <arg name="OUTPUT" default="log"/>
  <arg name="nameserver" default="localhost" />
  <arg name="corbaport"  default="2809" />
  <env name="RTCTREE_NAMESERVERS" value="$(arg nameserver):$(arg corbaport)" />
  <env name="LANG" value="$(env LANG)" />
  <env name="ORBgiopMaxMsgSize" value="2147483648" />
  <arg if="$(arg START_SIMULATOR)"
       name="start_sim" value="--start-simulation" />
  <arg unless="$(arg START_SIMULATOR)"
       name="start_sim" value="" />
  <arg if="$(arg ENABLE_CONSTRAINT)"
       name="enable_const" value="--enable-constraint" />
  <arg unless="$(arg ENABLE_CONSTRAINT)"
       name="enable_const" value="" />
  <node pkg="hrpsys_choreonoid" type="run_choreonoid.sh" name="choreonoid"
        output="screen"
        args="$(arg PROJECT_FILE) $(arg enable_const) $(arg start_sim) $(arg RTC_ARGS)" />
</launch>
