<launch>
  <arg name="SIMULATOR_NAME" />
  <arg name="PROJECT_FILE"   />
  <arg name="MODEL_FILE"     />
  <arg name="CONF_FILE"      />
  <arg name="RH_CONF_FILE"   />
  <arg name="HRPSYS_PY_PKG"  />
  <arg name="HRPSYS_PY_NAME" />
  <arg name="KILL_SERVERS" default="false" />
  <arg name="GUI" default="true" />
  <arg name="NOSIM" default="false" />
  <arg name="REALTIME" default="true" />
  <arg name="OUTPUT" default="log"/>
  <arg name="corbaport" default="15005" />
  <arg name="CONNECT_CONSTRAINT_FORCE_LOGGER_PORTS" default="false"/>

  <arg name="RobotHardware_conf" default="$(arg CONF_FILE)"/>
  <arg name="hrpsys_load_path" default="$(find hrpsys)/lib"/>
  <arg name="hrpsys_preload_rtc" default="" />
  <arg name="hrpsys_precreate_rtc" default=""/>
  <arg name="hrpsys_opt_rtc_config_args" default="" />

  <param name="use_sim_time" value="true" />
  <include file="$(find hrpsys_tools)/launch/hrpsys.launch">
    <arg name="USE_CHOREONOID" value="true" />
    <arg name="PROJECT_FILE" value="$(arg PROJECT_FILE)"/>
    <arg name="MODEL_FILE" value="$(arg MODEL_FILE)" />
    <arg name="CONF_FILE" value="$(arg CONF_FILE)" />
    <arg name="OUTPUT" value="$(arg OUTPUT)" />
    <arg name="SIMULATOR_NAME" value="$(arg SIMULATOR_NAME)" />
    <arg name="hrpsys_opt_rtc_config_args" default='$(arg hrpsys_opt_rtc_config_args)
-o "example.RobotHardware_choreonoid.config_file:$(arg CONF_FILE)"
'/>
    <arg name="KILL_SERVERS" value="$(arg KILL_SERVERS)" />
    <arg name="REALTIME" value="$(arg REALTIME)" />
    <arg name="corbaport" value="$(arg corbaport)" />
    <arg name="openrtm_openhrp_server_start" value="true"/>
    <arg name="RESPAWN_MODELLOADER" value="false" />
    <arg name="GUI" default="$(arg GUI)" />
    <arg name="RobotHardware_conf" value="$(arg RobotHardware_conf)"/>
    <arg name="hrpsys_precreate_rtc" value="$(arg hrpsys_precreate_rtc)" />
    <arg name="hrpsys_preload_rtc" value="$(arg hrpsys_preload_rtc)" />
    <arg name="hrpsys_load_path" default="$(arg hrpsys_load_path)"/>
    <arg name="HRPSYS_PY_PKG"  value="$(arg HRPSYS_PY_PKG)" />
    <arg name="HRPSYS_PY_NAME" value="$(arg HRPSYS_PY_NAME)" />
    <arg name="HRPSYS_PY_ARGS" value="--connect-constraint-force-logger-ports" if="$(arg CONNECT_CONSTRAINT_FORCE_LOGGER_PORTS)"/>
  </include>
</launch>
