<launch>
  <arg name="RUN_RVIZ" default="true" />
  <arg name="SIMULATOR_NAME" default="JAXON_JVRC" />
  <rosparam command="load"
            file="$(find hrpsys_ros_bridge_jvrc)/models/JAXON_JVRC_controller_config.yaml" />

  <arg name="corbaport" default="2809" />
  <include file="$(find hrpsys_ros_bridge)/launch/hrpsys_ros_bridge.launch">
    <arg name="SIMULATOR_NAME" value="$(arg SIMULATOR_NAME)" />
    <arg name="MODEL_FILE" value="$(find jvrc_models)/JAXON_JVRC/JAXON_JVRCmain_hrpsys.wrl" />
    <arg name="COLLADA_FILE" value="$(find hrpsys_ros_bridge_jvrc)/models/JAXON_JVRC_SENSORS.urdf" />
    <arg name="CONF_FILE" value="$(find hrpsys_ros_bridge_jvrc)/models/JAXON_JVRC.conf" />
    <arg name="corbaport" default="$(arg corbaport)" />
    <arg name="USE_WALKING" default="true" />
    <arg name="USE_IMPEDANCECONTROLLER" default="true" />
    <arg name="USE_EMERGENCYSTOPPER" default="true" />
    <arg name="USE_ROBOT_POSE_EKF" value="false" />

    <arg name="USE_COLLISIONCHECK" default="false" />
    <arg name="USE_SOFTERRORLIMIT" default="false" />
    <arg name="periodic_rate" value="100" />
    <arg name="USE_VELOCITY_OUTPUT" default="true" />
  </include>

  <include file="$(find jsk_footstep_controller)/launch/hrp2jsk_footcoords.launch" />
  <!--group if="$(arg RUN_RVIZ)" >
    <node name="jaxon_jvrc_rviz" pkg="rviz" type="rviz" respawn="true"
          args="-sync -d $(find hrpsys_ros_bridge_jvrc)/launch/jaxon_jvrc.rviz" />
  </group-->
</launch>
