<launch>
  <param name="/use_sim_time" value="true" />

  <arg name="nameserver" default="localhost" />
  <arg name="corbaport" default="2809" />
  <env name="RTCTREE_NAMESERVERS" value="$(arg nameserver):$(arg corbaport)" />
  <env name="LANG" value="C" />
  <env name="ORBgiopMaxMsgSize" value="2147483648" />

  <rosparam command="load" ns="JAXON_JVRC"
            file="$(find hrpsys_ros_bridge_jvrc)/config/JAXON_JVRC.yaml" />
  <node pkg="hrpsys_choreonoid" type="run_choreonoid.sh" name="choreonoid"
        output="screen" args="$(find hrpsys_ros_bridge_jvrc)/config/jaxon.cnoid"/>
</launch>
